.bar-chart {
  display: flex;
  width: 321px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 21px 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
}
.bar-chart .content {
  display: flex;
  flex-direction: column;
  height: 291px;
  align-items: center;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}
.bar-chart .top {
  flex-direction: column;
  gap: 12px;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.bar-chart .div {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.bar-chart .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--paragraph-1-medium-font-family);
  font-weight: var(--paragraph-1-medium-font-weight);
  color: var(--black-60);
  font-size: var(--paragraph-1-medium-font-size);
  letter-spacing: var(--paragraph-1-medium-letter-spacing);
  line-height: var(--paragraph-1-medium-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-1-medium-font-style);
}
.bar-chart .filter {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}
.bar-chart .text-wrapper-2 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--label-1-regular-font-family);
  font-weight: var(--label-1-regular-font-weight);
  color: var(--black-10);
  font-size: var(--label-1-regular-font-size);
  letter-spacing: var(--label-1-regular-letter-spacing);
  line-height: var(--label-1-regular-line-height);
  font-style: var(--label-1-regular-font-style);
}
.bar-chart .fi-chevron-down {
  position: relative;
  width: 16px;
  height: 16px;
}
.bar-chart .key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}
.bar-chart .rectangle {
  position: relative;
  width: 8px;
  height: 8px;
  background-color: #d23565;
  border-radius: 6px;
}
.bar-chart .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-2-regular-font-family);
  font-weight: var(--label-2-regular-font-weight);
  color: var(--black-20);
  font-size: var(--label-2-regular-font-size);
  letter-spacing: var(--label-2-regular-letter-spacing);
  line-height: var(--label-2-regular-line-height);
  white-space: nowrap;
  font-style: var(--label-2-regular-font-style);
}
.bar-chart .rectangle-2 {
  background-color: #96a5ea;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 6px;
}
.bar-chart .rectangle-3 {
  background-color: #ffcc91;
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 6px;
}
.bar-chart .group {
  position: relative;
  width: 205px;
  height: 205px;
  background-image: url(src/assets/Group_2.png);
  background-size: 100% 100%;
}
