.bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 15px 20px;
  position: relative;
  background-color: #ffffff;
  border-radius: 12px;
  
}

.bottom .chart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.bottom .summary-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.bottom .frame {
  gap: 21px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.bottom .text-wrapper {
  position: relative;
  width: fit-content;
  font-family: var(--paragraph-1-medium-font-family);
  font-weight: var(--paragraph-1-medium-font-weight);
  color: var(--black-60);
  font-size: var(--paragraph-1-medium-font-size);
  letter-spacing: var(--paragraph-1-medium-letter-spacing);
  line-height: var(--paragraph-1-medium-line-height);
  white-space: nowrap;
  font-style: var(--paragraph-1-medium-font-style);
}
.bottom .icon {
  position: relative;
  width: 99px;
  height: 30px;
  background-color: #d2356514;
  border-radius: 8px;
  overflow: hidden;
}
.bottom .div {
  gap: 20px;
  top: 5px;
  left: 12px;
  display: inline-flex;
  align-items: center;
  position: relative;
}
.bottom .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: var(--paragraph-2-regular-font-family);
  font-weight: var(--paragraph-2-regular-font-weight);
  color: #d23565;
  font-size: var(--paragraph-2-regular-font-size);
  letter-spacing: var(--paragraph-2-regular-letter-spacing);
  line-height: var(--paragraph-2-regular-line-height);
  font-style: var(--paragraph-2-regular-font-style);
}
.bottom .fi-chevron-down {
  position: relative;
  width: 20px;
  height: 20px;
}
.bottom .filter {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  position: relative;
  flex: 0 0 auto;
}
.bottom .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: var(--label-1-regular-font-family);
  font-weight: var(--label-1-regular-font-weight);
  color: var(--black-100);
  font-size: var(--label-1-regular-font-size);
  letter-spacing: var(--label-1-regular-letter-spacing);
  line-height: var(--label-1-regular-line-height);
  font-style: var(--label-1-regular-font-style);
}
.bottom .img {
  position: relative;
  width: 16px;
  height: 16px;
}
.bottom .graph-bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}
.bottom .x-axis {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 37px;
  position: relative;
  flex: 0 0 auto;
}
.bottom .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--label-2-regular-font-family);
  font-weight: var(--label-2-regular-font-weight);
  color: var(--black-20);
  font-size: var(--label-2-regular-font-size);
  letter-spacing: var(--label-2-regular-letter-spacing);
  line-height: var(--label-2-regular-line-height);
  white-space: nowrap;
  font-style: var(--label-2-regular-font-style);
}
.bottom .text-wrapper-5 {
  position: relative;
  width: fit-content;
  font-family: var(--label-2-regular-font-family);
  font-weight: var(--label-2-regular-font-weight);
  color: var(--black-20);
  font-size: var(--label-2-regular-font-size);
  text-align: right;
  letter-spacing: var(--label-2-regular-letter-spacing);
  line-height: var(--label-2-regular-line-height);
  white-space: nowrap;
  font-style: var(--label-2-regular-font-style);
}
.bottom .bar {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
  position: relative;
  flex: 0 0 auto;
}
.bottom .bar-2 {
  position: relative;
  width: 13px;
  height: 241px;
  background-color: #eef0f9;
  border-radius: 50px;
}
.bottom .text-wrapper-6 {
  position: relative;
  width: fit-content;
  font-family: var(--label-2-regular-font-family);
  font-weight: var(--label-2-regular-font-weight);
  color: var(--black-10);
  font-size: var(--label-2-regular-font-size);
  text-align: right;
  letter-spacing: var(--label-2-regular-letter-spacing);
  line-height: var(--label-2-regular-line-height);
  white-space: nowrap;
  font-style: var(--label-2-regular-font-style);
}
